body {
    background-color: rgb(66, 118, 160);
    font-family: loveloline_light;
 }

 .quote {
    color: white;
    text-align: center;
    margin: 70px;
 }

h3 {
    color: white;
    display: inline;
    margin: 30px;
}

img {
   margin: 30px;
   max-width: 500px;
   max-height: 500px;
   width: auto;
   height: auto;
}

header > p {
    text-align: center;
 }

 h1 {
    color: white;
    text-align: center;
    font-family: fantasy;
    font-size: 60px;
    margin: 20px;
 }
 
 nav > ul {
    text-align: center;
    margin-bottom: 50px;
 }

.link {
    display: inline;
    padding: 5px;
    margin: 40px;
    color: white;
    border: solid 1px white;
 }

 a {
    text-decoration: none;
 }

.imgBlock {
   float: left;
}

 footer {
    margin-top: 70px;
    clear: both;
    color: grey;
 }